---
layout: handbook-page-toc
title: "Quality Department SET Career Framework: Senior"
description: "These are the expected competencies of a Senior Software Engineer in Test (SET) at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Quality Department Competencies: Senior

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/quality_career_matrix_nav.erb") %>

**Seniors at GitLab are expected to exhibit the following competencies:**

* [Senior Leadership Competencies](#senior-leadership-competencies)
* [Senior Technical Competencies](#senior-technical-competencies)
* [Senior Values Alignment](#senior-values-alignment)

---

### Senior Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_senior_leadership_competency.erb") %>

### Senior Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_senior_technical_competency.erb") %>
<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_senior_technical_competency.erb") %>

### Senior Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/_values_competency.erb") %>

### Senior Career Matrix Worksheet

Template for Senior Career Matrix Worksheet can be found [here](https://docs.google.com/spreadsheets/d/1fH2avfPtsIt3BApaFNg17BvQZdSxQVjJvQC037QLp00/edit#gid=2070422305).