---
title: GitLab Certified Associate Self-Service Option
suppress_header: true
description: "GitLab Certified Associate Self-Service Option"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Associate Self-Service Option
    %h2.headline-subtitle
      Convenient asynchronous option to validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified Associate Self-Service Option

        %h3 Overview
        %p As of April 2021, this offering provides the GitLab wider community with self-service access to one of the most popular <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/'> GitLab Technical Certifications</a> - <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-certified-associate/'> GitLab Certified Associate</a> - through the <a href= 'https://gitlab.edcast.com'> GitLab Learn site</a>.
 
        %h3 What's Included
        %p This certification bundle includes everything needed to complete the <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-certified-associate/'> GitLab Certified Associate</a> certification requirements:
        %ul
          %li Self-Study eLearning
        %ul
          %li Knowledge Exam
        %ul
          %li Hands-on Exam
        %ul
          %li Access to the GitLab Demo Cloud for hands-on work
        %ul
          %li Project submission and grading
        %ul
          %li Shareable completion badge in the GitLab Learn site
        %ul
          %li Shareable Badgr digital verification of certification status and date

 
        %h3 Pricing and Payment
        %p The GitLab Certified Associate certification bundle is priced at USD $650 and includes the following components.
        %ul
          %li Self-Study certification preparation eLearning: USD $150
        %ul
          %li Knowledge Exam: USD $150
        %ul
          %li Hands-On Exam: USD $350
        %p During the enrollment process on <a href= 'https://gitlab.edcast.com'> GitLab Learn</a> users can use a credit card or discount code as the payment method. Users will then be able to access the bundle.

        %h3 Next steps
        %p Create an account on <a href= 'https://gitlab.edcast.com'> GitLab Learn</a> and select the Gitlab Certified Associate Pathway to get started.
 
= partial "includes/services-contact-form"

